# This is a comment.
# Below, * matches all files in the repository.
# Users below will be automatically requested for review
# when someone changes any file in the repository.

models/*/enterprise/* @grantith
models/odw/moxy/* @grantith
models/odw/perform/* @grantith
models/odw/mis/* @grantith
models/edw/custodian/* @grantith
models/odw/financials/* @acharchar
models/odw/masters/* @acharchar
models/odw/workvivo/* @mwalanning
