# dbt-core vars.
DBT_STATE=//mh-file/ActiveBatchShare/prod/ops/dbt/prod_artifacts
DBT_DEFER=True

# Change this if you need to source from datalake_dev for a source.
DBT_DB_RAW_SRC=raw
DBT_DB_RAW_DEV_SRC=raw_dev
DBT_DB_FINANCE_SRC=finance
DBT_DB_DATALAKE_SRC=datalake
DBT_DB_DATALAKE_DEST=datalake_test
DBT_DB_EDW_DEST=edw_test
DBT_DB_DEVOPS_SRC=devops
DBT_DB_DEVOPS_DEST=devops_test

# These are custom env vars that the project uses.
DBT_LOOKBACK_OFFSET_DAYS=0
DBT_LOOKBACK_DAYS=4

# ci target
DBT_USER=svc_dbt
DBT_PASSWORD=in1Pass
