target/
dbt_packages/
logs/
scratches/
scratch/
profiles.yml
.user.yml
.vscode/settings.json
.venv/
scratch.sql
analyses/scratch/
edr_target/
.env
*.code-workspace
package-lock.yml
.github/scripts/line-counts.ps1
justfile.me
lint_failures.txt
.idea/
*ipynb
*scratch.*
reladiff.toml
target-base/
